.container1{
  width: 600px;
  height: 400px;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 300px;
  border-radius: 20px;
}


.container2{
  width: 600px;
  height: 400px;
  background-color: rgb(229, 116, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 300px;
  top: 600px;
  border-radius: 20px;
}

.container3{
  width: 600px;
  height: 400px;
  background-color: rgb(229, 116, 104);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1000px;
  top: 600px;
  border-radius: 20px;
}

.container4{
  width: 600px;
  height: 400px;
  background-color: rgb(49, 0, 105);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 1000px;
  border-radius: 20px;
}


.containerbutton{
  width: 300px;
  height: 10px;
  background-color: rgb(231, 152, 152);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 200px;
  top: 1000px;
}

