.container1{
  width: 600px;
  height: 400px;
  background-color: rgb(44, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 300px;
}


.container2{
  width: 600px;
  height: 400px;
  background-color: rgb(44, 12, 12);
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 300px;
  top: 450px;
}